annotated-types==0.7.0
anyio==4.9.0
beautifulsoup4==4.12.3
blinker==1.9.0
cachetools==5.5.2
Flask==3.0.2
Flask-Cors==4.0.0
google-genai==1.8.0
grpcio==1.71.0
grpcio-status==1.62.3
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==5.3.1
MarkupSafe==3.0.2
opencv-python==4.11.0.86
openpyxl==3.1.5
packaging==24.2
pillow==11.1.0
proto-plus==1.26.1
protobuf==4.25.6
psutil==7.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
pytesseract==0.3.10
python-docx==1.1.0
python-dotenv==1.0.1
requests==2.31.0
requests-file==2.1.0
rsa==4.9
